@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.quickfont {
  font-family: 'Quicksand', sans-serif;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.main {
  width: 100%;
  max-width: 1070px;
  margin: 0 auto;
}

/*top nav menu*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: left;
}

li a {
  display: block;
  color: #00004d;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  font-size: large;
}

.header-icons h2 {
  color: #ffd11a;
  font-weight: bold;
}

.icons {
  margin-top: -14px;
}

.icons i {
  width: 15px;
}

.input-group {
  width: 100%;
}

.c-sidebar {
  background-color: #00ff00;
}

/* card details start  */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i");

section {
  padding: 100px 0;
}

tails-card {
  background: #ecf0f1;
}

.card-content {
  background: #ffffff;
  border: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  height: 100%;
}

.card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
  height: 200px;
}

.card-img img {
  width: 100%;
  height: 100%;
  display: block;
}

.card-img span {
  position: absolute;
  top: 15%;
  left: 12%;
  background: #1abc9c;
  padding: 6px;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transform: translate(-50%, -50%);
}

.card-img span h4 {
  font-size: 12px;
  margin: 0;
  padding: 10px 5px;
  line-height: 0;
}

.card-body {
  padding: 1.25rem;
}

.card-body h3 {
  color: #000000;
  font-weight: 600;
  font-size: 1.3em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

.card-body p {
  color: #747373;
  font-size: 14px;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.3;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.card-body a {
  font-weight: bold;
}

.card-body .btn-card {
  background-color: #00004d;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px;
  font-size: 0.9rem;
  width: 100px;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  margin: 0;
  margin-right: -8px;
  border: 0;
  -webkit-border-radius: 0.125rem;
  border-radius: 0.125rem;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  white-space: normal;
  word-wrap: break-word;
}

.btn-card:hover {
  background: #00004dcc;
}

a.btn-card {
  text-decoration: none;
  color: #fff;
}

/* End card section */

.sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #283361;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav-hide{
  width: 0px;
display: none;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: white;
  display: block;
}

.icon-group {
  padding: 0px;
}

.arrow {
  padding: 0px 0px 0px 40px;
}

.services ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style-position: outside;
}

.services ul li::marker {
  color: #b3b3ff;
}

.services a {
  text-align: left;
  padding: 0 !important;
  color: #b3b3ff;
}

.sidenav a:hover {
  color: #e68a00;
}

.links {
  margin-top: 25%;
  margin-bottom: 15%;
}

.c-wrapper {
  margin-left: 180px;
  width: auto;
}

.service {
  font-size: 20px;
  color: #717c9b;
}

.nav-icons a {
  color: #ffd11a;
  font-size: 25px;
}

.navbar-nav i:hover {
  color: #e68a00;
}

.pagination {
  display: inline-block;
  margin-top: -100px;
}

.home li {
  padding: 0;
  margin: 0;
}

.home li:nth-child(3) a {
  color: #5ce55c;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.form-control:focus {
  outline: 0;
  color: unset;
  box-shadow: none;
}

.form-control:focus,
.btn,
.form-control {
  border: 1.2px solid #212427;
  border-radius: unset;
}

.navbar-icon {
  margin-left: -30px;
  margin-right: -50px;
  font-size: 40px;
}
